<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    <display-name>Webapp1</display-name>

    <servlet>
        <servlet-name>staticServlet</servlet-name>
        <servlet-class>org.eclipse.jetty.servlet.DefaultServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>staticServlet</servlet-name>
        <url-pattern>/alexa</url-pattern>
    </servlet-mapping>
</web-app>